@import '~antd/dist/antd.css';

.ant-card-head {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background: #fc9657;
	outline-style: solid;
	outline-width: thick;
}

.ant-card-head-title {
    font-family: Copperplate, Papyrus, fantasy;	
    font-size: 20px;
	font-weight: bold;
}

.ant-card-body {
	padding: 40px;
	background: #ffffff;
	outline-style: solid;
	outline-width: thick;
}

.CardInput {
	outline-style: solid;
	outline-width: medium;
}

.Converter {
	background-color: #ffffff;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

p {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}