@import '~antd/dist/antd.css';

/*@media all and (min-width:960px) and (max-width: 1024px) {
}

@media all and (min-width:960px) and (max-width: 1024px) {
  }
  
  @media all and (min-width:801px) and (max-width: 959px) {
  }
  
  @media all and (min-width:769px) and (max-width: 800px) {
  }
  
  @media all and (min-width:569px) and (max-width: 768px) {
  }
  
  @media all and (min-width:481px) and (max-width: 568px) {
  }
  
  @media all and (min-width:321px) and (max-width: 480px) {
  }
  
  @media all and (min-width:0px) and (max-width: 320px) {
  }*/

.ant-card-head {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background: #fc9657;
	outline-style: solid;
	outline-width: thick;
}

.ant-card-head-title {
	font-family: Copperplate, Papyrus, fantasy;	
	font-size: 20px;
	font-weight: bold;
}

.ant-card-body {
	padding: 40px;
	background: #ffffff;
	outline-style: solid;
	outline-width: thick;
}

.CardInput {
	outline-style: solid;
	outline-width: medium;
}

.Converter {
	background-color: #ffffff;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

p {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}